version: "3"

services:
  wazigate-lora:
      container_name: waziup.wazigate-lora
      image: waziup/wazigate-lora
      build:
        context: ./
      logging:
        driver: "json-file"
        options:
          max-size: "200k"
          max-file: "10"
      restart: always
      #environment:
      #   - WAZIGATE_EDGE=wazigate-edge:80
      depends_on:
        - chirpstack
        - chirpstack-gateway-bridge
        - chirpstack-rest-api
      volumes:
        - .:/root/app
        - ./main-app:/go/src/main-app # Needed for development
        - /var/run/dbus:/var/run/dbus
        - /sys/class/gpio:/sys/class/gpio
        - /dev:/dev
      
      #added for development! Comment for production
      #  - /var/lib/wazigate/apps/waziup.wazigate-lora:/var/lib/waziapp
      extra_hosts: 
        - "wazigate:172.17.0.1"
        - "waziup.wazigate-edge:172.17.0.1"

  chirpstack:
    container_name: waziup.wazigate-lora.chirpstack-v4
    image: chirpstack/chirpstack:4
    command: -c /etc/chirpstack
    restart: unless-stopped
    volumes:
      - ./conf/chirpstack:/etc/chirpstack
      #- ./lorawan-devices:/opt/lorawan-devices

      #added for development! Comment for production
      #- /var/run/redis:/var/run/redis
    depends_on:
      - postgres
      - mosquitto
      - redis
    environment:
      - MQTT_BROKER_HOST=mosquitto
      - REDIS_HOST=redis
      - POSTGRESQL_HOST=postgres
    ports:
      - 8080:8080
    extra_hosts: 
      - "wazigate:172.17.0.1"
      - "waziup.wazigate-edge:172.17.0.1"
      - "wazigate-edge:172.17.0.1"
    labels:
      io.waziup.wazigate.dep: "wazigate-lora"

  chirpstack-gateway-bridge:
    container_name: waziup.wazigate-lora.chirpstack-gateway-bridge
    image: chirpstack/chirpstack-gateway-bridge:4
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    restart: unless-stopped
    ports:
      - 1700:1700/udp
    volumes:
      - ./conf/chirpstack-gateway-bridge:/etc/chirpstack-gateway-bridge
    environment:
      - INTEGRATION__MQTT__EVENT_TOPIC_TEMPLATE=eu868/gateway/{{ .GatewayID }}/event/{{ .EventType }}
      - INTEGRATION__MQTT__STATE_TOPIC_TEMPLATE=eu868/gateway/{{ .GatewayID }}/state/{{ .StateType }}
      - INTEGRATION__MQTT__COMMAND_TOPIC_TEMPLATE=eu868/gateway/{{ .GatewayID }}/command/#
      
      - MQTT_BROKER_HOST=mosquitto
    depends_on:
      - mosquitto
    labels:
      io.waziup.wazigate.dep: "wazigate-lora"
    extra_hosts: 
      - "wazigate:172.17.0.1"
      - "waziup.wazigate-edge:172.17.0.1"
      - "wazigate-edge:172.17.0.1"

  chirpstack-rest-api:
    container_name: chirpstack-rest-api
    image: chirpstack/chirpstack-rest-api:4
    restart: unless-stopped
    command: --server chirpstack:8080 --bind 0.0.0.0:8090 --insecure
    ports:
      - 8090:8090
    depends_on:
      - chirpstack

  postgres:
    container_name: postgres
    image: postgres:14-alpine
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    restart: unless-stopped
    volumes:
      - ./conf/postgresql/initdb:/docker-entrypoint-initdb.d
      - postgresqldata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=root
    labels:
      io.waziup.wazigate.dep: "wazigate-lora"

  redis:
    container_name: redis
    image: redis:7-alpine
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    restart: unless-stopped
    volumes:
      - redisdata:/data
    labels:
      io.waziup.wazigate.dep: "wazigate-lora"

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:1.6  # The MQTT bridge seems to work only with eclipse-mosquitto 1.6
    #image: eclipse-mosquitto:2
    restart: unless-stopped
    ports:
      - 1884:1884 # Using port 1884 because WaziGate Edge MQTT uses port 1883
      - 1885:1885
    volumes: 
      - ./conf/mosquitto/config/:/mosquitto/config/
    extra_hosts: 
      - "wazigate:172.17.0.1"
      - "waziup.wazigate-edge:172.17.0.1"
      - "wazigate-edge:172.17.0.1"
    labels:
      io.waziup.wazigate.dep: "wazigate-lora"

  forwarders:
    container_name: waziup.wazigate-lora.forwarders
    image: waziup/wazigate-lora-forwarders
    build:
      context: ./forwarders
      # dockerfile: Dockerfile-dev
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    restart: always
    environment: 
      - ENABLE_MULTI_SPI=1
      - ENABLE_MULTI_USB=1
      - ENABLE_SINGLE_SPI=1
    volumes:
      - ./forwarders/conf/:/root/conf
      - /var/run/dbus:/var/run/dbus
      - /sys/class/gpio:/sys/class/gpio
      - /dev:/dev
    devices:
      - /dev/ttyACM0
    privileged: true
    tty: true
    extra_hosts: 
      - "wazigate:172.17.0.1"
      - "waziup.wazigate-edge:172.17.0.1"
      - "wazigate-edge:172.17.0.1"
    labels:
      io.waziup.wazigate.dep: "wazigate-lora"

volumes:
  postgresqldata:
  redisdata:

networks:
  default:
    external:
      name: wazigate